admin_password = [password]
nexusKey = [nexus api key]
oAuthClientID = [oAuthClientID]
oAuthClientSecret = [oAuthClientSecret]
oAuthCallbackURL = [oAuthCallbackURL]
slackBotToken = [slackBotToken]

eventKey = [eventKey]
team = [team Number]